@charset "utf-8";


.select2{
  width: 400px;
  height: 852px;
  border-radius: 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
 background-color: #fff;
}

.progress_bar{
    width: 345px;
    height: 4px;
    background-color: rgba(17, 17, 17, 20%);
    position: absolute;
    top: 7%; left: 50%;
    transform: translateX(-50%);
    border-radius: 99px;
}
.cur_bar2{
    width: 180px;
    height: 4px;
    background-color: rgba(107, 60, 236, 100%);
    position: relative;
    z-index: 99;
}
.quebox{
    width: 345px;
    height: 60px;
    position: absolute;
    top: 10%; left: 24px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.question{
    font-size: 25px;
    display: inline;
    margin: 0;
}

.sub2{
    margin: 0;
     font-size: 14px;
    font-size: 13px;
    color: #111;
   opacity: 60%;
}

.s_main2{
    width: 350px;
    height: 500px !important;
    display: flex;
    flex-direction: column;
    gap: 43px;
    position: absolute;
    top: 20%; left: 24px;
}


.question2{
    font-size: 15px;
    display: inline;
    margin: 0;
    font-weight: 600;
    color: #111;
}

.question-block{
    width: 275px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 340px;
}
.pogressdot{
    display: block;
    height: 10px;
    position: absolute;
    bottom: 5%; left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
}
.dot.active{
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: #6B3CEC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);  
}
.dot:focus{
    background-color:#6B3CEC;
}
.next-btn{
    position: absolute;
    bottom: 5%; right: 5%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.before-btn{
    position: absolute;
    bottom: 5%; left: 5%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px; 
}