
.phone{
   width: 400px;
  height: 852px;
  border: 8px solid #000;
  margin-top: 30px;
  border-radius: 32px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
 background-color: #fff;
overflow: hidden;
}
.stat{
  width: 400px;
  height: 44px;
  position: absolute;
  z-index: 9999;
  background: url("../src/asset/images/Status\ Bar.png")no-repeat center center/100%;
}


.botbar{
  width: 148px;
  height: 5px;
  background-color: #000;
  border-radius: 100px;
  position: absolute;
  bottom:1% ; left: 50%;
  z-index: 9999;
  transform: translateX(-50%);
}